@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --cor-de-fundo: #001427;
    --cor-container: #bf0603;
    --cor-alter: #f4d58d;
    --branco: antiquewhite;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    background: var(--cor-de-fundo);
}

div.container { 
    background: var(--cor-container);
    width: 23.125rem;
    min-height: 18.75rem;
    border: 3px solid var(--cor-alter);
    border-radius: 10px;
    box-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.6);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container #yearnas,
.container #name {
    width: 17.5rem;
    height: 1.375rem;
    border-radius: 7px;
    border: none;
    text-align: center;
    color: var(--branco);
    background: var(--cor-de-fundo);
}

.container #yearnas::placeholder,
.container #name::placeholder {
    text-align: center;
}

.container #yearnas:focus,
.container #name:focus {
    outline: none;
    text-align: center;
    background: var(--cor-de-fundo);
    color: var(--branco);
}

.container #btn {
    cursor: pointer;
    width: 4.375rem;
    height: 1.5625rem;
    border-radius: 7px;
    border: 2px solid var(--cor-alter);
    background: var(--cor-de-fundo);
    color: var(--branco);
    transition: 0.01s;
}

.container #btn:hover {
    translate: 0.4px;
    background: var(--cor-container);
}

.auten {
    color: var(--branco);
    font-style: italic;
}