@media all and (min-width: 0px) and (max-width: 374px) {
  div.container h1 {
    font-size: 16px;
  }
  div.container {
    width: 15.625rem;
  }
  .container #yearnas,
  .container #name {
    width: 11.875rem;
  }
}

@media all and (min-width: 375px) and (max-width: 600px) {
  div.container h1 {
    font-size: 20px;
  }
  div.container #res {
    font-size: 14px;
  }
  div.container {
    width: 17.5rem;
  }
  .container #yearnas,
  .container #name {
    width: 13.75rem;
  }
}

@media all and (min-width: 601px) and (max-width: 800px) {
  div.container {
    width: 20rem;
  }
  .container #yearnas,
  .container #name {
    width: 15.625rem;
  }
}

@media all and (min-width: 801px) {
  div.container {
    width: 23.125rem;
  }
  .container #yearnas,
  .container #name {
    width: 17.5rem;
  }
}
