@media (max-width: 800px) {
    .home-content,
    .grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: auto;
    }

    .gallery-img img {
        width: 100%;
    }

    .grid-one-content {
        display: block;
    }
}