:root {

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 12.5rem;
}

.container-one {
    border: 3px solid black;
    width: 25rem;
    height: 6.25rem;
    display: flex;
    flex-direction: column;
}

.container-one input {
    
}

.container-one button {

}

.container-two {
    display: flex;
    gap: 1.25rem;
    width: 28.125rem;
    justify-content: center;
}

.container-two .container-adc {
    border: 3px solid black;
    width: 12.5rem;
}

.container-two .container-flz {
    border: 3px solid black;
    width: 12.5rem;
}