@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --cor-fundo: #023047;
  --cor-container: #ffb703;
  --branco: antiquewhite;
  --preto: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
  height: 100vh;
  width: 100vw;
  background: var(--cor-fundo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.container {
  height: 80vh;
  width: 30vw;
  background: var(--cor-container);
  display: grid;
  justify-items: center;
  align-content: space-evenly;
  border: 2px solid var(--branco);
  border-radius: 7px;
  text-align: center;
  padding: 1.875rem;
}

.container input {
  width: 16vw;
  height: 8vh;
  outline: none;
  border: 2px solid var(--branco);
  background: var(--cor-container);
  border-radius: 7px;
  text-align: center;
  color: var(--branco);
  transition: 0.5s;
}

.container input:focus {
  translate: 1px;
  text-align: center;
  color: var(--branco);
  background: var(--cor-fundo);
}

.container input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.container div.botao {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 10px;
}

div.botao button {
  height: 7vh;
  width: 9vw;
  border: 3px solid var(--branco);
  border-radius: 7px;
  background: var(--cor-container);
  color: var(--branco);
  transition: 0.5s;
  font-size: 18px;
}

div.botao button:hover {
  cursor: pointer;
  background: var(--cor-fundo);
  color: var(--branco);
  translate: 1px;
}

.auten {
  color: var(--branco);
  font-style: italic;
}


