@media all and (min-width: 0px) and (max-width: 374px) {
    .container .main-container {
        height: 12.5rem;
        width: 16.75rem;
    }
    .container #res {
        min-width: 12.5rem;
    }
  }
  
  @media all and (min-width: 375px) and (max-width: 600px) {
    .container .main-container {
        height: 13rem;
        width: 17.25rem;
    }
    .container #res {
        min-width: 12.75rem;
    }
  }
  
  @media all and (min-width: 601px) and (max-width: 800px) {
    .container .main-container {
        height: 13.5rem;
        width: 17.75rem;
    }
    .container #res {
        min-width: 13rem;
    }
  }
  
  @media all and (min-width: 801px) {
    .container .main-container {
        height: 14rem;
        width: 18.25rem;
    }
    .container #res {
        min-width: 13.25rem;
    }
  }
  